.breadcrumb_class{
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.next-tag-medium{
  margin: 0px;
  height: 28px;
  font-size: 14px;
  line-height: 28px;
  border-width: 1px;
}
